nav{

    z-index: 99;
}

.section {
display: flex;
flex-direction: column;
justify-content:center;
align-items: center;
height: 100vh;
background: #eee;
text-align: center;
padding: 0 2em;
}

.active{
    text-decoration: underline;
}

.projects{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 0px;
}