.nav-items{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    bottom: 0;
    height: 70px;
    background: #fff;
    position: sticky;
    padding: 0px;
    }
    
.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    -webkit-border-radius: 1.2em;
    -moz-border-radius: 1.2em;
    border-radius: 1.2em;
    color: rgb(3, 3, 3);
    font-weight: 100;
    -webkit-box-shadow: 0.2em 0.2em 1em 0 #a9b1be;
    -moz-box-shadow: 0.2em 0.2em 1em 0  #a9b1be;
    box-shadow: 0.2em 0.2em 1em 0  #a9b1be;
    text-shadow: 0.2em 0.2em 2em #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    margin: .5em;
    
    }
    
.nav-item:hover {
    color:white;
    background: rgba(102,177,241,0.8);
    transition: all 0.5s ease;
    }
    
    
    


.nav-item > .active {
    border-bottom: 1px solid #333;
}

@media (min-width: 800px) {
    .nav-item {
        font-size: 1rem;
    }
}